<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milano - Immagini</title>
</head>
<body>
    <a href="{{url_for('homepage')}}">Torna Indietro</a>

    <h1>4 Monumenti di Milano</h1>
    <p>Sotto ci sono 4 monumenti di milano, cliccandoci ti poterà ad una breve descrizione.</p>
    <a href="{{url_for('arcodellapace')}}"><img src="{{url_for('static', filename='images/arcodellapace.jpg')}}"/></a>
    <a href="{{url_for('leonardodavinci')}}"><img src="{{url_for('static', filename='images/leonardo-da-vinci-s-horse.jpg')}}"/></a>
    <a href="{{url_for('monumentoleonardo')}}"><img src="{{url_for('static', filename='images/monumento-a-leonardo.jpg')}}"/></a>
    <a href="{{url_for('vittorioemanuele')}}"><img src="{{url_for('static', filename='images/vittorioemanuele.jpg')}}"/></a>
</body>
</html>