<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arco della Pace</title>
</head>
<body>
    <a href="{{url_for('immagini')}}">Torna Indietro</a>
    <img src="{{url_for('static', filename='images/leonardo-da-vinci-s-horse.jpg')}}"/>
    <p>Il Cavallo di Leonardo da Vinci è una grande statua equestre di bronzo che rappresenta un cavallo in posizione eretta. Il modello fu progettato da Leonardo da Vinci nel XV secolo per il duca Ludovico Sforza, ma non fu mai realizzato a causa di problemi tecnici e finanziari. Nel 1999, un gruppo di artisti e sponsor internazionali ha finanziato la realizzazione della statua a grandezza naturale, che è stata installata nella località di San Siro, a Milano. La statua è alta circa 7,5 metri e rappresenta un'opera d'arte unica e di grande impatto visivo.</p>
</body>
</html>