<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arco della Pace</title>
</head>
<body>
    <a href="{{url_for('immagini')}}">Torna Indietro</a>
    <img src="{{url_for('static', filename='images/arcodellapace.jpg')}}"/>
    <p>L'Arco della Pace è un monumento situato a Milano, in Italia. È stato costruito in marmo bianco tra il 1807 e il 1838 per celebrare la pace tra Napoleone e l'Impero austriaco. L'arco presenta una struttura classica con numerose decorazioni scultoree che rappresentano eventi storici e allegorie. Oggi è una delle attrazioni turistiche più popolari di Milano.</p>
</body>
</html>