<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arco della Pace</title>
</head>
<body>
    <a href="{{url_for('immagini')}}">Torna Indietro</a>
    <img src="{{url_for('static', filename='images/monumento-a-leonardo.jpg')}}"/>
    <p>Il monumento a Leonardo da Vinci si trova nella Piazza della Scala, nel centro di Milano. La statua in bronzo raffigura Leonardo da Vinci seduto su una sedia e circondato da alcuni dei suoi più famosi disegni e invenzioni. Il monumento è stato realizzato dallo scultore Pietro Magni e inaugurato nel 1872. È diventato un'icona della città di Milano e un punto di interesse per i turisti che visitano la città.</p>
</body>
</html>