<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arco della Pace</title>
</head>
<body>
    <a href="{{url_for('immagini')}}">Torna Indietro</a>
    <img src="{{url_for('static', filename='images/vittorioemanuele.jpg')}}"/>
    <p>il Monumento a Vittorio Emanuele II è una statua equestre in bronzo situata sulla Piazza del Duomo, di fronte all'ingresso principale della Galleria Vittorio Emanuele II. La statua è stata realizzata da Ercole Rosa nel 1896 e raffigura Vittorio Emanuele II in uniforme militare a cavallo. Il monumento è diventato un'icona della città di Milano ed è spesso utilizzato come punto di ritrovo per i residenti e i turisti.</p>
</body>
</html>